@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 13, 27, 62;
  --background-rgb: 240, 239, 233;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
